<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        Distance from White House
      </h1>
    </div>
  </div>

    <table class='table table-hover table-striped'>
      <th>Coordinates</th>
      <th>Addresses</th>
      <th>Distance in miles</th>
      <% addresses.each do |obj|%>
        <tr>
          <td><%= obj.latitude %>, <%= obj.longitude %></td>
          <td>
            <%= obj.street %><br />
            <%= obj.city %>, <%= obj.state %>
            <%= obj.zipcode %>  <%= obj.country %>
          </td>
          <td>
            <% if obj.distance.nil? %>
              0.00
            <% else %>
              <%= obj.distance.round(2) %>
            <% end %>
          </td>
        </tr>
      <% end %>


    </table>
</div>